[MAIN]
max-line-length=256

[MESSAGES CONTROL]
disable=duplicate-code,import-outside-toplevel,missing-docstring,too-few-public-methods,useless-object-inheritance

# duplicate-code: repeated code for some solutions (needs to be added to lib) and inherently 
# similar main code in each LeetCode module

# import-outside-toplevel: common submissions have imports directly in the functiones themselves

# missing-docstring: for main missing docstring

# too-few-public-methods: LeetCode has Solution class-based submissions

# useless-object-inheritance: LeetCode has Solution class-based submissions
