[MAIN]
max-line-length=256

# Pylint really doesn't like long file paths

[MESSAGES CONTROL]
disable=duplicate-code,import-outside-toplevel,missing-docstring,too-few-public-methods,useless-object-inheritance,pointless-string-statement

# duplicate-code: repeated code for some solutions (needs to be added to lib) and inherently
# similar main code in each LeetCode module

# import-outside-toplevel: common submissions have imports directly in the functiones themselves

# missing-docstring: for main missing docstring

# too-few-public-methods: LeetCode has Solution class-based submissions

# useless-object-inheritance: LeetCode has Solution class-based submissions

# pointless-string-statement: Pylint really hates my notes in a string block comment
